---
hdp_minor_version: "{{ hdp_version | regex_replace('.[0-9]+.[0-9]+[0-9_-]*$','') }}"
hdp_major_version: "{{ hdp_minor_version.split('.').0 }}"
hdf_minor_version: "{{ hdf_version | regex_replace('.[0-9]+.[0-9]+[0-9_-]*$','') }}"
hdf_major_version: "{{ hdf_minor_version.split('.').0 }}"

hdp_main_repo_url: "http://public-repo-1.hortonworks.com/HDP/centos7/2.x/updates/2.6.3.0/HDP-2.6.3.0-235.xml"
hdf_main_repo_url: "{{ base_url }}/HDF/centos{{ ansible_distribution_major_version }}/{{ hdf_major_version }}.x/updates/{{ hdf_version }}"
main_os_target: "operating_systems/redhat{{ ansible_distribution_major_version }}"

utils_repo_url: "{{ base_url }}/HDP-UTILS-{{ utils_version }}/repos/centos{{ ansible_distribution_major_version }}"
utils_os_target: "operating_systems/redhat{{ ansible_distribution_major_version }}/repositories/HDP-UTILS-{{ utils_version }}"
