{
    "_id": "{{ mongodb_replication_replset }}",
  "members": [
        {
          "_id": 0,
          "host": "{{ mongodb_replication_replset }}0"
        },
        {
          "_id": 1,
          "host": "{{ mongodb_replication_replset }}1"
        },
        {
          "_id": 2,
          "host": "{{ mongodb_replication_replset }}2",
          "arbiterOnly": true
        },
        {
          "_id": 3,
          "host": "{{ mongodb_replication_replset }}3"
        },
        {
          "_id": 4,
          "host": "{{ mongodb_replication_replset }}4"
        }
  ]
}
